*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("lawrson-pinson-602763-unsplash.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 10%;
    
}

img{
    height: 150px;
    width: 12%;
    border-radius: 100%;
    border: 1px solid white;
}
h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 4em;
}
input[type="text"]{
    font-size: large;
    width:25%;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="submit"]{
    padding: 10px;
    background-color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
